defaults
  mode tcp
  timeout connect 3s
  timeout server 6s
  timeout client 6s

resolvers docker
  nameserver dns1 127.0.0.11:53
  resolve_retries 3
  timeout resolve 1s
  timeout retry   1s
  hold other      10s
  hold refused    10s
  hold nx         10s
  hold timeout    10s
  hold valid      10s
  hold obsolete   10s

listen stats
  mode http
  bind :9000
  stats enable
  stats hide-version
  stats realm Haproxy\ Statistics
# stats uri /haproxy_stats
  stats uri /

frontend https_in
    bind *:443 ssl crt /usr/local/etc/haproxy/haproxy.pem alpn h2
    redirect scheme https code 301 if !{ ssl_fc }
    mode http


backend http_back
    balance roundrobin
    server wordpress DOMAIN:80 check
